@keyframes fade-in-animation {
    from {
        opacity: 0;

        transform: translateY(-10%);
    }

    to {
        opacity: 1;
        
        transform: translateY(0%);
    }
}

@media only screen and (max-width: 1100px) {
    .footer {
        flex-direction: column;
    }

    .footer-links {
        justify-content: flex-start !important;
    }
}

html, body, #root {
    min-height: 100vh;

    background: #171A23;
    color: #FFF;

    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: #FFF;

    text-decoration: none;
}

li {
    line-height: 1.5em;
}

a:hover {
    text-decoration: underline;
}
